<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="SoftwareDev.Properties.Settings.Client_DatabaseConnectionString"
      connectionString="Data Source=DESKTOP-HRPO25E\SQLEXPRESS;Initial Catalog=Client_Database;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="SoftwareDev.Properties.Settings.Purchase_OrderDBConnectionString"
      connectionString="Data Source=DESKTOP-HRPO25E\SQLEXPRESS;Initial Catalog=Purchase_OrderDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="SoftwareDev.Properties.Settings.RoleLoginConnectionString"
      connectionString="Data Source=DESKTOP-HRPO25E\SQLEXPRESS;Initial Catalog=RoleLogin;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="SoftwareDev.Properties.Settings.PurchaseInvoiceDBConnectionString"
      connectionString="Data Source=DESKTOP-HRPO25E\SQLEXPRESS;Initial Catalog=PurchaseInvoiceDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="SoftwareDev.Properties.Settings.Sale_OrderDBConnectionString"
      connectionString="Data Source=DESKTOP-HRPO25E\SQLEXPRESS;Initial Catalog=Sale_OrderDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="SoftwareDev.Properties.Settings.SalesInvoiceConnectionString"
      connectionString="Data Source=DESKTOP-HRPO25E\SQLEXPRESS;Initial Catalog=SalesInvoice;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="SoftwareDev.Properties.Settings.WarehouseConnectionString"
      connectionString="Data Source=DESKTOP-HRPO25E\SQLEXPRESS;Initial Catalog=Warehouse;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="SoftwareDev.Properties.Settings.AccountsConnectionString"
      connectionString="Data Source=DESKTOP-HRPO25E\SQLEXPRESS;Initial Catalog=Accounts;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="WarehouseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HRPO25E\SQLEXPRESS;initial catalog=Warehouse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WarehouseEntity" connectionString="metadata=res://*/WarehouseModel.csdl|res://*/WarehouseModel.ssdl|res://*/WarehouseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-HRPO25E\SQLEXPRESS;initial catalog=Warehouse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SoftwareDev.Properties.Settings.CompanyProfileConnectionString"
      connectionString="Data Source=DESKTOP-HRPO25E\SQLEXPRESS;Initial Catalog=CompanyProfile;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="SoftwareDev.Properties.Settings.LedgersOutstandingsConnectionString"
      connectionString="Data Source=DESKTOP-HRPO25E\SQLEXPRESS;Initial Catalog=LedgersOutstandings;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SoftwareDev.Properties.Settings.FinancialYearConnectionString"
      connectionString="Data Source=DESKTOP-HRPO25E\SQLEXPRESS;Initial Catalog=FinancialYear;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>